.container {
  width: 100%;
  padding: 10px 10px;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
  z-index: 1;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.navbar__menu {
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__logo {
  display: none;
}

.navbar__create {
  display: none;
}

.navbar__plus {
  padding: 0px;
  width: 32px;
  height: 32px;
  display: flex;
}

.navbar__org {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar__logo {
    display: block;
  }
  .navbar__create {
    display: block;
  }
  .navbar__plus {
    display: none;
  }
}
