.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.nav-container {
  height: 80px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sign-in {
  color: var(--slate-light);
  background-color: var(--color4);
}

.sign-in:hover {
  color: var(--slate-light);
  background-color: var(--color4);
  opacity: 0.8;
}

@media screen and (min-width: 500px) {
  .nav-actions {
    width: auto;
  }
}
