.main-container {
  height: 100%;
}

.organization-container {
  max-width: var(--max-width);
  margin: 0px auto;
  padding: 80px 10px 0 10px;
}

.organization-content {
  display: flex;
  gap: 20px;
}

.organization-content__sidebar {
  width: 256px;
  height: calc(100dvh - 80px);
  display: none;
  flex-shrink: 0;
  overflow: auto;
}

.organization-content__body {
  width: 100%;
  height: calc(100dvh - 80px);
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .organization-content__sidebar {
    display: block;
  }
  .organization-content__body {
    width: calc(100% - 300px);
  }
}

.board-content {
  height: 100%;
  max-width: var(--max-width);
  margin: 0px auto;
  padding-top: 60px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.board-content__image {
  max-width: var(--max-width);
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.board-content__image img {
  object-fit: cover;
}
