/* Card item in list */

.card-form-container {
  margin-top: 5px;
  width: 100%;
}

.card-form-container__actions {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.card-item {
  padding: 8px 15px;
  background-color: var(--white);
  border: 2px solid transparent;
  border-radius: 5px;
}

.card-item:hover {
  cursor: pointer;
  border: 2px solid var(--color4);
}

.card-item p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

/* Card dialog container */

.card-dialog {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Card dialog header */

.card-dialog-header {
  width: 100%;
  margin-top: 10px;
}

.card-dialog-header form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-dialog-header__edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card-dialog-header__edit--enable {
  color: var(--success);
}

.card-dialog-header__edit--disable {
  color: var(--slate-dark);
}

.card-dialog-header__subtitle {
  margin-left: 50px;
  font-size: 0.9rem;
}

/* Card description and actions */

.card-dialog-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card-dialog-content__data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-dialog-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.card-dialog-description__title {
  display: flex;
  gap: 15px;
  align-items: center;
}

.card-dialog-description__content {
  width: calc(100% - 40px);
  min-height: 100px;
  margin-left: 40px;
  padding: 10px 20px;
  background-color: var(--slate-light);
  border-radius: 5px;
}

.card-dialog-description__form {
  width: calc(100% - 40px);
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-dialog-description__form textarea {
  min-height: 100px;
}

.card-dialog-description__form > div {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.card-dialog-actions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-dialog-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-dialog-actions button {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 425px) {
  .card-dialog-content {
    grid-template-columns: 3fr 1fr;
  }
}

/* Card logs */

.card-dialog-logs-container {
  display: flex;
  gap: 15px;
}

.card-dialog-logs {
  width: 100%;
}

.card-dialog-logs__title {
  margin-bottom: 10px;
}

.card-dialog-logs__messages {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
